.button {
  background: $gray;
  border: none;
  color: white;
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
  user-select: none;
}

.button--link {
  background: none;
}

.button--secondary {
  background: rgb(117, 0, 0);
  margin-top: 1.6rem;
}

.home-button {
  margin-bottom: 0;
  width: 8rem;
}

.button-verify {
  background: green;
  max-width: 10.6rem;
  margin: 0 auto;
}

.button-block {
  background: red;
  max-width: 10.6rem;
  margin: 0 auto;
}