.form {
  display: flex;
  flex-direction: column;
  > * {
    margin-bottom: $m-size;
  }
  
  a {
    margin-bottom: 0;
  }
}

.form-edit {
  @extend .form;
  background: rgba($color: beige, $alpha: 0.8);
}

.form__error {
  font-size: 3rem;
  font-style: italic;
  margin: $m-size 0 $m-size 0;
}