.header {
  background: $dark-gray;
}

.header-button {
  margin: 2.7rem 0 0 2rem;
}

.header-main {
  color: $off-white;
  display: inline-block;
  height: 100px;
}

.header-title {
  font-family: "Lobster", cursive;
  margin: 0;
}

.header-subtitle {
  float: left;
  margin: 0 0 2rem 2rem;
}

.header-log {
  float: right;
}