.ingredient-item {
  background: beige;
  color: $gray;
  display: flex;
  flex-direction: row;
  font-weight: 700;
  justify-content: space-between;
}

.ingredient-item__left {
  padding: 0.5rem;
}

.ingredient-item__right {
  background: darken(beige, 20%);
  color: darken($gray, 20%);
  border: 1px solid black;
  cursor: pointer;
  padding: 0.5rem;
}