.number-input {
  display: flex;
  justify-content: space-between;

  div:nth-child(n+2) {
    margin-left: 1rem;
  }

  div:nth-child(n+1) {
    border: 1px solid #cacccd;
    padding: 0.5rem;
  }

  div {
    background: beige;
    color: $gray;
    font-weight: 700;
  }
}

.number-input__item {
  margin-left: 1rem;
  padding-left: 0.5rem;
  width: 4.5rem;
}

.number-input__item-category {
  margin-left: 1rem;
  padding-left: 0.5rem;
}

.text-input {
  border: 1px solid #cacccd;
  height: 50px;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
  width: 100%;
}

.text-input__ingredient {
  @extend .text-input;
  float: left;
  width: 75%;
}

.text-input__button {
  background: rgb(29, 80, 29);
  height: 50px;
  font-size: 1.5rem;
  width:25%;

  @media (min-width: $desktop-breakpoint) {
    font-size: 2.2rem;
  }
}

.select {
  @extend .text-input;
}

.text-area {
  @extend .text-input;
  height: 10rem;
}