.list-header {
  background: $off-white;
  border: 1px solid darken($off-white, 10%);
  color: $gray;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}

.list-body {
  margin-bottom: $m-size;

  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $l-size;
  }
}

.list-item {
  display: flex;
  flex-direction: row;
}

.list-item__view {
  background: rgba($color: beige, $alpha: 0.8);
  border: 1px solid darken($off-white, 10%);
  border-top: none;
  color: $dark-gray;
  display: flex;
  flex-direction: column;
  padding: $s-size;
  text-decoration: none;
  transition: background 0.3s ease;
  user-select: none;
  width: 100%;
  &:hover {
    background: darken(beige, 15%);
  }

  @media (min-width: $desktop-breakpoint) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: $m-size;
  }
}

.list-item--message {
  align-items: center;
  background: rgba($color: beige, $alpha: 0.8);
  color: $gray;
  justify-content: center;
  padding: $m-size;
}

.list-item__title {
  font-size: 1em;
  margin: 0;
  word-break: break-all;

  @media (min-width: $desktop-breakpoint) {
    font-size: 1.17em;
  }
}

.list-item__sub-title {
  color: $gray;
  font-size: $font-size-small;
}

.list-item__sub-title-right {
  color: $gray;
  font-size: $font-size-small;

  @media (min-width: $desktop-breakpoint) {
    float: right;
  }
}

.list-item__data {
  margin: 0;

  @media (min-width: $desktop-breakpoint) {
    padding-left: $s-size;
  }
}

.list-item__edit {
  @extend .list-item__view;
  cursor: pointer;
  font-weight: 700;
  height: 100%;
  justify-content: center;
  width: 100%;
}