.view-page {
  background: rgba($color: beige, $alpha: 0.8);
  color: $gray;
  font-weight: 700;
  margin-bottom: 1.5rem;
  padding: 3.2rem 2rem 1.5rem;
}

.view-page__plus {
  background: url("/images/plus2.png");
  border: none;
  cursor: pointer;
  height: 16px;
  margin-right: 1rem;
  padding: 0;
  width: 20px;
}

.view-page__check {
  background: url("/images/check.png");
  border: none;
  cursor: pointer;
  height: 16px;
  margin-right: 1rem;
  padding: 0;
  width: 20px;
}

.view-page__plus:disabled {
  background: url("/images/check.png");
}